.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 45px;
  margin-bottom: 50px;

  &__links {
    display: flex;
    flex-direction: row;
    gap: 60px;

    &__link {
      font-size: 24px;
      text-decoration: none;
      color: #ff6060;

      &.active {
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .nav {
    margin-top: 20px;
    margin-bottom: 30px;

    img {
      width: 145px;
    }

    &__links {
      gap: 25px;

      &__link {
        font-size: 12px;
      }
    }
  }
}
